*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #7986e9;
}

.topo{
  width: 100%;
  height: 100px;
  background-color: #3f3e3d;
  display: flex;
}

.text-topo
{
  margin: auto;
  font-size: 25px;
}

.menu
{
  width: 100%;
  height: 2rem;
  background-color: rgb(43, 42, 42);
  display: flex;
  justify-content: space-around;

}

.menu > a{
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
  display: flex;
}

.menu > a:hover
{
  background-color: rgb(19, 15, 15);
}

.item-menu
{
  margin: auto;
}

.cont{
  background-color: #1f275f;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem;
  width: 75%;
}

.list{
  margin-left: 8%;
}

.but-1{
  display: flex;
}

.botao{
  height:1rem;
  margin: auto;
  margin-top: 1rem;
  text-align: center;
}

.botao > a{
  background-color: aquamarine;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  padding: 5px;
}

#color{
  color: red;
}

.letra{
  margin-left: 6%;
}

/*second degree calculator page CSS*/

.body-for-content{
  width: 100%;
  display: flex;
}

.body-calculator{
  background-color: #1f275f;
  position: relative;
  width: 80%;
  margin: auto;
  display: flex;
}

.form-calc-func{
  margin-top: 1rem;
  margin-left: 1rem;
}

.input-but{
  background-color: rgb(51, 132, 224);
  border: 4px solid black;
  width: 3rem;
  display: flex;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.input-but:hover{
  background-color: rgb(29, 91, 167);
}

/*Results*/

.results{
  border: 4px solid black;
  margin-top: 1rem;
  margin-left: 1rem;
  padding-top: 1rem;
}

/*Results (raízes)*/


/*Results (vertices)*/

.vertice{
   margin-top: 0.5rem;
}